/* Header and Navbar
   ========================================================================== */

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  background-color: #525286;
  color: #FFFFFF;
  background-image:url("../images/backgFlipped.png");
  background-size: cover;
  /*margin-bottom: 50px;*/
}
.header h1 {
 margin-right: 40%;
}

.navbar {
  display: inline;
  color: #FFFFFF;
  margin-bottom: 50px;
}
li.navbar{
  padding-left: 1em;
  padding-right: 1em;
}
a{
  text-decoration: none;
}
a.navbar:visited{
  color: #FFFFFF;
}
a.navbar:hover{
  color: yellow;
}
input#logout {
  visibility:hidden;
  width:5%;
  height:50%;
  font-size:14px;
  color:white;
  background-color: rgb(6, 114, 236);
  border-radius:5px;
  border: 2px solid  rgb(2, 80, 168);
  font-weight:500;
  margin-right:2px;
}
input#logout:hover{
  background-color: rgb(5, 3, 99);
}
.login{
  color:white;
}
