extends default

block content
  infobox.infobox
    h2 Who is responsible for this project?
    p The CurfewBot2020 project belongs to Group 10 of the course Projects and Project Methods at KTH in Kista.
    h2 Who are the members of this project?
    p The members of this project are Alexander Broms, Sam Florin, and Love Pelz. You can find out more about them by visiting the Meet the Team page.
    h2 What is the purpose of this project?
    p What we are trying to create in this project is a product that helps parents check when their children enter or leave the home via infrared sensors that interact with this web application.
    p This application allows the parent to view when the sensors have been activated (when someone is entering or leaving) and turn their sensors on or off.
    p At this point in time, this website only serves as a proof of concept. We'll make sure to add more information on this page later on.
