doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/navbar.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(type='text/javascript' src='js/jqueryFuncs.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1 #{title}
          input#logout(type='submit' onclick='logout();' value='Logout')
      block navbar
        ul.navbar
          li.navbar
            a.navbar(href=`/index`) Home
          li.navbar
            a.navbar(href=`/AboutTheProject`) About the Project
          li.navbar
            a.navbar(href=`/AboutUs`) About Us
          li.navbar
            a.login(href=`login.html`) Login
          li.navbar
            a.navbar(href=`registration.html`) Registration
          li.navbar
            a.setAlarmLink(href ='setAlarm.html') Set Alarm
          li.navbar
            a.viewAlarmsLink(href ='viewAlarms.html') View Alarms
          li.navbar
            a.viewEventsLink(href ='viewEvents.html') View Events
      block content
