extends default

block content
  infobox.infobox
    h2 Welcome to the CurfewBot2020 Service!
    p The service is currently under construction. But we're working hard on getting things up and running!
    p In the purple area you will find a navbar that will take you to the different features of this service.
